/*font-family: 'Fredericka the Great', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Qwigley', cursive;*/

/* GLOBAL */
body {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  margin: 0;
}

.container {
  padding: 120px 100px 120px 100px;
}

a {
  text-decoration: none;
  color: black;
}

/* NAVBAR */
ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  border-bottom: solid 1px black;
  background-color: white;
  height: 80px;
  z-index:2;
}

#navbar li {
  float: right;
}

#navbar li a {
  display: block;
  padding: 25px 25px;
  font-size: 30px;
}

#navbar li a:hover {
  color: #CF0000;
}

.active a {
  color: #CF0000!important;
  font-weight: bold;
  padding-top: 20px!important;
}

li#logo {
  float: left;
}

li#logo a {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  padding: 10px 25px;
}

/* SECTIONS */
.section {
  min-height: 100vh;
}

.section h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 36px;
}

/* NAME & TITLE */
#banner {
  padding-top: 140px;
  min-height: calc(100vh - 140px);
}

#name {
  font-family: 'Fredericka the Great', cursive;
  font-size: 48px;
  font-weight: normal;
}

#title {
  font-size: 36px;
  font-weight: 300;
}

/* ABOUT */
#photo {
  height: 160px;
  border-radius: 10px;
}

/* PROJECTS */
#projects-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project-card {
  position: relative;
  margin: 20px 20px 20px 20px;
}

.project-card:hover div.project-info {
  opacity: 1;
}

.project-card:hover img.project-img {
  filter: grayscale(1);
}

.project-img {
  width: 100%;
  max-width: 380px;
  min-width: 280px;
  height: auto;
}

.project-info {
  background-color: #151515;
  color: white;
  text-align: center;
  padding: 0px 0px 15px 0px;
  position: absolute;
  width: 100%;
  max-width: 250px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s ease;
}

.project-info p {
  font-weight: lighter;
  font-size: 0.7em;
}

.project-info h2 {
  font-size: 16px;
  letter-spacing: 2px;
}

.project-info a {
  color: white;
  font-size: 0.6em;
  letter-spacing: 1px;
  padding: 7px 5px 5px 5px;
  transition: .5s ease;
}

.project-info a:hover {
  color: #CF0000;
}

/* CONTACT */
#contact a {
  font-weight: bold;
}

#contact a:hover {
  color: #CF0000;
}
