/* family=Bitter:400,700 | Dosis:400,600,700*/

/* GLOBAL */
body {
  font-family: Bitter, serif;
  margin: 0;
}

h1, h2, h3, h6 {
  font-family: Dosis, sans-serif;
}

.title {
  font-weight: 700;
  margin-bottom: 40px;
}

.section-padding {
  padding-top: 7rem;
}

.black-shadow {
  text-shadow: 1px 1px 10px black;
}

.btn-shadow {
  box-shadow: 1px 1px 10px black;
}

/* NAVBAR */

/* BANNER */
#home {
  padding: 0;
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

#home h1 {
  font-weight: 700;
}

#home h2 {
  font-weight: 600;
}

div.banner {
  height: 94vh;
  margin: 0;
}

.btn-outline-light:hover {
  text-shadow: none;
}

.btn-success {
  background-color: #FF4D00;
  color: white;
  border: 1px solid #FF4D00;
}

.btn-success:hover {
  background-color: white;
  color: #FF4D00;
  border: 1px solid white;
}

a.scroll {
  color: white;
  bottom: 0;
}

a.scroll:hover {
  text-decoration: none;
  color: #ffbf00;
  text-shadow: 1px 1px 10px black;
}

.scroll p {
  margin-bottom: 0;
}

/* PROFESSIONAL SKILLS */
img.skills {
  height: 100px;
  margin-bottom: 10px;
}

/* WEB DEVELOPMENT PROJECTS */
div#webprojects {
  background-color: rgba(237, 248, 255, .4);
}

#webprojects h3 {
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}

#webprojects h3 a {
  color: #3CA7E2;
}

#webprojects h3 a:hover {
  text-decoration: none;
  color: #0081C7;
}

#webprojects ul {
  list-style: none;
}

/* CONTACT */
div#contact {
  min-height: 500px;
}

#contact a {
  font-size: 5rem;
}

#contact p {
  font-size: 1rem;
  color: black;
}

#contact a:hover {
  text-decoration: none;
}

.fa-at {
  color: #FF4D00;
}

.fa-at:hover {
  color: #CC2500;
}

.fa-linkedin {
  color: #006099;
}

.fa-linkedin:hover {
  color: #003A70;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: #3D3D3D;
}

/* NEXT SECTION */

/* FOOTER */
div#footer {
  background-color: #333940;
  color: white;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

blockquote {
  font-size: 1.1rem !important;
}
