/*font-family: 'Fredericka the Great', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Qwigley', cursive;*/

/* GLOBAL */
body {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  margin: 0;
}

.container {
  padding: 120px 160px 120px 160px;
}

/* NAVBAR */
ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  border-bottom: solid 1px black;
  background-color: #FFFFFF;
  height: 80px;
}

#navbar li {
  float: right;
}

#navbar li a {
  display: block;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
}

li#logo {
  float: left;
}

li#logo a {
  font-family: 'Qwigley', cursive;
  font-size: 48px;
  padding: 10px 25px;
}

/* SECTIONS */
.section {
  min-height: 100vh;
}

.section h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 36px;
}

/* NAME & TITLE */
#banner {
  padding-top: 140px;
  min-height: calc(100vh - 140px);
}

#name {
  font-family: 'Fredericka the Great', cursive;
  font-size: 48px;
  font-weight: normal;
}

#title {
  font-size: 36px;
  font-weight: 300;
}

/* ABOUT */
#photo {
  height: 160px;
  border-radius: 10px;
}

/* PROJECTS */
/* CONTACT */
#contact a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#contact a:hover {
  color: #CF0000;
}
